
<div class="mt-4 bg-white shadow-md rounded-lg text-left">
  <div class="h-2 bg-driveGreen rounded-t-md"></div>
  <div class="px-8 py-6 ">
    <form>
      <div class="mb-6">
    <label class="block tracking-wide text-grey-darker text-xs font-bold mb-2"> Email </label>
    <input type="text" placeholder="Email" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
      </div>
      <div class="mb-6">
        <label class="block tracking-wide text-grey-darker text-xs font-bold mb-2"> Mot de passe </label>
    <input type="password" placeholder="Password" class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
      </div>
        <div class="flex justify-center">
      <button class="mt-4 w-full bg-driveGreen text-white py-2 px-6 rounded-md hover:bg-emerald-500" type="button">
        Se connecter
      </button>
    </div>
    </form>
    <div class="text-center mt-2">
      <a href="#" class="text-sm hover:underline">Mot de passe oublié ?</a>
    </div>
  </div>

</div>
