<div class="w-screen px-4">

  <div class="card">
    <p-toolbar styleClass="gap-2">
      <ng-template pTemplate="left">
        <h2 class="m-0">Liste des réservations</h2>
      </ng-template>
      <ng-template pTemplate="right">
        <p-button
          routerLink="/vehicles/service/booking"
          severity="success"
          label="Nouvelle"
          icon="pi pi-plus"
          class="mr-2"
          styleClass="bg-driveGreen hover:bg-emerald-500"
        />
      </ng-template>
    </p-toolbar>

    <!--  <div class="p-toolbar-group-center">-->
    <!--    <span class="p-input-icon-left">-->
    <!--        <i class="pi pi-search"></i>-->
    <!--        <input pInputText placeholder="Search" />-->
    <!--    </span>-->
    <!--  </div>-->

    <app-history-filter (filterChanged)="onFilterChanged($event)" (searchChanged)="onSearchTermChanged($event)"></app-history-filter>
    <p-table [value]="reservations"
             [tableStyle]="{'min-width': '60rem'}"
             [rows]="10"
             [paginator]="true"
              styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th>Marque</th>
          <th>Modèle</th>
          <th>Immatriculation</th>
          <th>Date heure début</th>
          <th>Date heure fin</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-reservation>
        <tr>
          <td>{{ reservation.vehicle.model.brand.name }}</td>
          <td>{{ reservation.vehicle.model.name }}</td>
          <td>{{ reservation.vehicle.registration }}</td>
          <td><input type="text" [value]="formatDate(reservation.dateTimeStart)" disabled></td>
          <td><input type="text" [value]="formatDate(reservation.dateTimeEnd)" disabled></td>
          <td>
            <p-toast/>
            @if(compareDates(reservation.dateTimeEnd, currentDate)){
              <p-button
                icon="pi pi-pencil"
                class="mr-2"
                [rounded]="true"
                [outlined]="true"
                severity="success"
                (onClick)="editReservation(reservation)"
                 />
            <p-button
              icon="pi pi-trash"
              severity="danger"
              [rounded]="true"
              [outlined]="true"
              (onClick)="confirmPopUpDelete($event,reservation.id)" />
            }
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Au total il y a  {{ reservations ? reservations.length : 0 }} réservation(s).
        </div>
      </ng-template>
    </p-table>

    <p-dialog
      *ngIf="reservationToEdit"
      [(visible)]="isDialogEdit"
      [style]="{ width: '650px', height: '750px' }"
      header="Modification de la réservation pour {{reservationToEdit.vehicle.registration}}"
      [modal]="true"
      class="h-auto"
      styleClass="p-fluid">
      <ng-template pTemplate="content">
        <img
          [src]="reservationToEdit.vehicle.url"
          alt="Image du véhicule"
          class="block m-auto pb-3"
          *ngIf="reservationToEdit.vehicle.url" />
        <div class="form grid grid-cols-2 gap-4">
          <div class="field col">
            <label for="previousDateStart">Date et heure de début</label>
            @if (reservationToEdit.dateTimeStart < currentDate){
              <input type="text" class="border-solid border border-gray-200 py-2 px-3 rounded" [value]="formatDate(reservationToEdit.dateTimeStart.toString())"  disabled />
            } @else {

              <p-calendar [(ngModel)]="reservationToEdit.dateTimeStart" id="dateTimeStart" [showTime]="true" hourFormat="24"
                          name="dateStart"
                          id="previousDateStart"
                          [minDate]="currentDate"
                          dateFormat="dd-mm-yy">
              </p-calendar>
            }
          </div>
          <div class="field col">
            <label for="previousDateEnd">Date et heure de fin</label>
            <p-calendar [(ngModel)]="reservationToEdit.dateTimeEnd" id="dateTimeEnd" [showTime]="true" hourFormat="24"
                        name="dateStart"
                        id="previousDateEnd"
                        [minDate]="currentDate"
                        dateFormat="dd-mm-yy">
            </p-calendar>
          </div>
        </div>
        <h3 class="text-center mt-6">Réservations pour ce véhicule</h3>
        <div *ngFor="let reservation of showReservations" class="justify-center border-2 mt-4 border-amber-950 rounded-m p-4">
          <div class="field-col">
            <label>Immatriculation:</label>
            <input type="text" [value]="reservation.vehicle.registration" readonly />
          </div>
          <div class="flex">
            <div class="field-col">
            <label>Date début:</label>
            <input type="datetime-local" [value]="reservation.dateTimeStart"  readonly />
            </div>
            <div class="field-col">
            <label>Date fin:</label>
            <input type="datetime-local" [value]="reservation.dateTimeEnd" readonly />
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="footer">
        <p-button
          label="Cancel"
          icon="pi pi-times"
          [text]="true"
          (onClick)="hideDialog()" />
        <p-button
          label="Save"
          icon="pi pi-check"
          [text]="true"
          (onClick)="confirmDialogEdit()" />
      </ng-template>
    </p-dialog>
    <ngx-sonner-toaster richColors/>
    <p-confirmDialog [style]="{ width: '450px' }" />
  </div>
</div>

