<div class="card">
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-image src="logo.png" alt="Logo" width="192" height="48" />
    </div>
    <div class="p-toolbar-group-center">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input pInputText placeholder="Search" />
    </span>
    </div>
    <div class="p-toolbar-group-end">
      @for(link of links; track $index){
        @if(link.click){
          <p-button icon="{{ link.icon }}" (click)="link.click()" [pTooltip]="link.name" tooltipPosition="bottom" class="mr-2" />
        } @else {
          <p-button icon="{{ link.icon }}" [routerLink]="link.url" routerLinkActive="active-link"  [pTooltip]="link.name" tooltipPosition="bottom" class="mr-2" />
        }
      }
    </div>
  </p-toolbar>
</div>
