<div class="w-screen">
  <h1 class="text-center mb-4">Ajouter un véhicule</h1>
  <div class="flex justify-center w-full">
    <div class="border border-gray-300 p-4 rounded-lg">
      <div class="flex space-x-10 items-center">
        <form [formGroup]="ajoutVehiculeForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center">
          <div class=" w-full">
            <label for="url"
                   class="block tracking-wide text-grey-darker text-xs font-bold mb-2">URL de l'image</label>
            <input type="text" formControlName="url" id="url"
                   placeholder="Entrez l'URL de l'image"
                   class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-gray-300 rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                   [ngClass]="{'ring-2 ring-red-500': url?.invalid && (!url?.untouched), 'ring-2 ring-green-500': url?.valid}"
                   (input)="onUrlInput($event)">
            @if (url?.invalid && (url?.dirty || !url?.untouched || submitted)) {
              <div class="text-red-500 text-xs italic">
                {{ getErrorMessage('url') }}
              </div>
            }
          </div>
          <div class="flex space-x-4 form-group">
            <div class="w-1/2">
              <div class="mb-6">
                <label for="registration" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">
                  Immatriculation
                </label>
                <p-inputMask
                  mask="aa-999-aa"
                  id="registration"
                  formControlName="registration"
                  placeholder="AB-123-CD"
                  styleClass="appearance-none block w-full bg-grey-lighter text-grey-darker border border-gray-300 rounded py-3 px-4 mb-3 focus:outline-none focus:ring-indigo-500 focus:ring-1"
                  [ngClass]="{
      'ng-invalid ng-dirty': registration?.invalid && (registration?.dirty || registration?.touched || submitted),
      'ng-valid ng-dirty': registration?.valid && (registration?.dirty || registration?.touched)
    }">
                </p-inputMask>
                <div *ngIf="registration?.invalid && (registration?.dirty || registration?.touched || submitted)"
                     class="text-red-500 text-xs italic">
                  {{ getErrorMessage('registration') }}
                </div>
              </div>

              <div class="mb-6">
                <label for="numberOfSeats" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Nombre de
                  places</label>
                <input type="number" min="0" id="numberOfSeats" formControlName="numberOfSeats" placeholder="5"
                       class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-gray-300 rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                       [ngClass]="{'ring-2 ring-red-500': numberOfSeats?.invalid && (!numberOfSeats?.untouched), 'ring-2 ring-green-500': numberOfSeats?.valid}">
                @if (numberOfSeats?.invalid && (numberOfSeats?.dirty || !numberOfSeats?.untouched || submitted)) {
                  <div class="text-red-500 text-xs italic">
                    {{ getErrorMessage('numberOfSeats') }}
                  </div>
                }
              </div>
              <div class="mb-6">
                <label for="category"
                       class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Catégorie</label>
                <div class="relative">
                  <p-autoComplete
                    id="category"
                    formControlName="category"
                    [dropdown]="true"
                    [suggestions]="filteredCategories"
                    (completeMethod)="filterCategory($event)"
                    optionLabel="value"
                    optionValue="value"
                    placeholder="Sélectionnez une catégorie"
                    styleClass=" w-full bg-grey-lighter text-grey-darker py-1 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                    [ngClass]="{
                  'ring-2 ring-red-500': ajoutVehiculeForm.get('category')?.invalid && ajoutVehiculeForm.get('category')?.touched,
                  'ring-2 ring-green-500': ajoutVehiculeForm.get('category')?.valid && ajoutVehiculeForm.get('category')?.touched
                  }">
                  </p-autoComplete>
                  <div
                    *ngIf="ajoutVehiculeForm.get('category')?.invalid && (ajoutVehiculeForm.get('category')?.dirty || ajoutVehiculeForm.get('category')?.touched || submitted)"
                    class="text-red-500 text-xs italic">
                    {{ getErrorMessage('category') }}
                  </div>
                </div>
              </div>

              <div class="mb-6">
                <label for="emission"
                       class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Emission</label>
                <input id="emission" type="number" min="0" formControlName="emission" placeholder="20"
                       class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-gray-300 rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                       [ngClass]="{'ring-2 ring-red-500': emission?.invalid && (!emission?.untouched), 'ring-2 ring-green-500': emission?.valid}">
                @if (emission?.invalid && (emission?.dirty || !emission?.untouched || submitted)) {
                  <div class="text-red-500 text-xs italic">
                    {{ getErrorMessage('emission') }}
                  </div>
                }
              </div>
              <div class="mb-6">
                <label for="service" class="tracking-wide text-grey-darker text-xs font-bold mb-2 mr-2">Service</label>
                <input id="service" formControlName="service"
                       type="checkbox">
              </div>
            </div>
            <div class="w-1/2">
              <div class="mb-6">
                <label for="brand" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Marque</label>
                <div class="relative">
                  <p-dropdown
                    inputId="dropdown"
                    id="brand"
                    formControlName="brand"
                    [options]="brandTab"
                    optionValue="value"
                    optionLabel="value"
                    placeholder="Sélectionnez une marque"
                    styleClass=" w-full bg-grey-lighter text-grey-darker hover:outline-none py-1 focus:outline-none focus:ring-indigo-500 focus:ring-1"
                    [ngClass]="{
                  'ring-2 ring-red-500': ajoutVehiculeForm.get('brand')?.invalid && ajoutVehiculeForm.get('brand')?.touched,
                  'ring-2 ring-green-500': ajoutVehiculeForm.get('brand')?.valid && ajoutVehiculeForm.get('brand')?.touched
                  }">
                  </p-dropdown>

                  <div
                    *ngIf="ajoutVehiculeForm.get('brand')?.invalid && (ajoutVehiculeForm.get('brand')?.dirty || ajoutVehiculeForm.get('brand')?.touched || submitted)"
                    class="text-red-500 text-xs italic">
                    {{ getErrorMessage('brand') }}
                  </div>
                </div>
              </div>
              <div class="mb-6">
                <label for="model" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Modèle</label>
                <input type="text" id="model" formControlName="model" placeholder="208"
                       class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-gray-300 rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                       [ngClass]="{'ring-2 ring-red-500': model?.invalid && (!model?.untouched), 'ring-2 ring-green-500': model?.valid}">
                @if (model?.invalid && (model?.dirty || !model?.untouched || submitted)) {
                  <div class="text-red-500 text-xs italic">
                    {{ getErrorMessage('model') }}
                  </div>
                }
              </div>

              <div class="mb-6">
                <label for="motorization"
                       class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Motorisation</label>
                <div class="relative">
                  <p-dropdown
                    inputId="dropdown"
                    id="motorization"
                    formControlName="motorization"
                    [options]="motorizationTab"
                    optionValue="value"
                    optionLabel="value"
                    placeholder="Sélectionnez une motorisation"
                    styleClass=" w-full bg-grey-lighter text-grey-darker py-1 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                    [ngClass]="{
                  'ring-2 ring-red-500': ajoutVehiculeForm.get('motorisation')?.invalid && ajoutVehiculeForm.get('motorisation')?.touched,
                  'ring-2 ring-green-500': ajoutVehiculeForm.get('motorisation')?.valid && ajoutVehiculeForm.get('motorisation')?.touched
                  }">
                  </p-dropdown>

                  <div
                    *ngIf="ajoutVehiculeForm.get('motorisation')?.invalid && (ajoutVehiculeForm.get('motorisation')?.dirty || ajoutVehiculeForm.get('motorisation')?.touched || submitted)"
                    class="text-red-500 text-xs italic">
                    {{ getErrorMessage('motorisation') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="justify center flex space-x-4">
            <button type="submit"
                    class="mt-4 w-full bg-red-600 text-white py-2 px-6 rounded-md hover:opacity-80">
              Annuler
            </button>
            <button type="submit"
                    class="mt-4 w-full bg-driveGreen text-white py-2 px-6 rounded-md hover:opacity-80">
              Valider
            </button>
          </div>
        </form>

        <app-visualisation-ajout-vehicule [formValues]="ajoutVehiculeForm.value"></app-visualisation-ajout-vehicule>
      </div>
    </div>
  </div>
</div>




