  <form [formGroup]="filterForm" class="bg-white rounded-md shadow-2xl p-4" (ngSubmit)="onFilter()">
    <div class="flex align-items-center justify-center gap-4">
    <p class="items-center my-auto ">Filtrer</p>
    <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  placeholder="Search..." />
            </span>
    <p-dropdown
      class="md:w-20rem"
      containerStyleClass="w-full appearance-none bg-grey-lighter text-grey-darker border-2 border-grey-lighter rounded-2xl hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
      formControlName="status"
      [options]="statusOptions"
      optionLabel="label"
      [placeholder]="statusOptions[2].label"
    />
  </div>
  </form>

<!--  <form [formGroup]="filterForm" class="bg-white rounded-md shadow-2xl p-6" (ngSubmit)="onFilter()">-->
  <ng-template pTemplate="caption">
    <div class="flex align-items-center justify-center gap-4">
      <p class="items-center my-auto ">Filtrer</p>
      <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  placeholder="Search..." />
            </span>
      <p-dropdown
        class="md:w-20rem"
        containerStyleClass="w-full appearance-none bg-grey-lighter text-grey-darker border-2 border-grey-lighter rounded-2xl hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
        formControlName="status"
        [options]="statusOptions"
        optionLabel="label"
        [placeholder]="statusOptions[2].label"
      />
    </div>
  </ng-template>
<!--  </form>-->
