<form>
  <div>
    <label for="matricule">Immatriculation</label>
    <input type="text" id="matricule" name="matricule" />
  </div>
  <div>
    <label for="modele">Modèle</label>
    <input type="text" id="modele" name="modele" />
  </div>
  <div>
    <label for="nbPlaces">Nombre de places</label>
    <input type="text" id="nbPlaces" name="nbPlaces" />
  </div>
  <div>
    <label for="pollution">Pollution CO2/km</label>
    <input type="text" id="pollution" name="pollution" />
  </div>
  <div>
    <label for="marque">Marque</label>
    <input type="text" id="marque" name="marque" />
  </div>
  <div>
    <label for="categorie">Catégorie</label>
    <input type="text" id="categorie" name="categorie" />
  </div>
  <div>
    <label for="motorisation">Motorisation</label>
    <input type="text" id="motorisation" name="motorisation" />
  </div>
  <div>
    <label for="status">Statut</label>
    <input type="text" id="status" name="status" />
  </div>
  <div>
    <button type="submit">Ajouter</button>
  </div>
</form>
