<!--<div class="mt-50">-->
  <form (ngSubmit)="onSubmit()" class="flex flex-col justify-center items-center">
    <div class=" w-full">
      <label for="immatriculation"
             class="block tracking-wide text-grey-darker text-xs font-bold mb-2">URL de l'image</label>
      <input type="text" name="immatriculation"
             placeholder="Entrez l'URL de l'image"
             class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
             (input)="vehicleDataService.onUrlInput($event)">
    </div>

    <div class="flex space-x-4 form-group">
      <div class="w-1/2">
        <div class="mb-6">
          <label for="immatriculation"
                 class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Immatriculation</label>
          <input type="text" id="immatriculation" [(ngModel)]="vehicleDataService.immatriculation"
                 name="immatriculation"
                 placeholder="AB-123-CD"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>

        <div class="mb-6">
          <label for="nbPlaces" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Nombre de
            places</label>
          <input type="text" id="nbPlaces" [(ngModel)]="vehicleDataService.nbPlaces" name="nbPlaces" placeholder="5"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>
        <div class="mb-6">
          <label for="category" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Catégorie</label>
          <input id="category" [(ngModel)]="vehicleDataService.category" name="category" placeholder="Berline"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>
        <div class="mb-6">
          <label for="pollution" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Pollution</label>
          <input id="pollution" [(ngModel)]="vehicleDataService.pollution" name="pollution" placeholder="20"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>
      </div>
      <div class="w-1/2">
        <div class="mb-6">
          <label for="brand" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Marque</label>
          <input id="brand" [(ngModel)]="vehicleDataService.brand" name="brand" placeholder="Peugeot"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>
        <div class="mb-6">
          <label for="model" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Modèle</label>
          <input type="text" id="model" [(ngModel)]="vehicleDataService.model" name="model" placeholder="208"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>
        <div class="mb-6">
          <label for="motorization"
                 class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Motorisation</label>
          <input id="motorization" [(ngModel)]="vehicleDataService.motorization" name="motorization"
                 placeholder="Hybride"
                 class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
        </div>
        <div class="mb-6">
          <label for="status" class="block tracking-wide text-grey-darker text-xs font-bold mb-2">Status</label>
          <div class="relative">
            <select id="status" [(ngModel)]="vehicleDataService.status" name="status"
                    class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4 mb-3 pr-8 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1">
              <option value="Disponible" selected>Disponible</option>
              <option value="Indisponible">Indisponible</option>
              <option value="En réparation">En réparation</option>
            </select>
            <!-- Chevron icon -->
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M7 10l5 5 5-5z"/>
              </svg>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="justify center flex space-x-4">
      <button type="submit"
              class="mt-4 w-full bg-red-600 text-white py-2 px-6 rounded-md hover:opacity-80">
        Annuler
      </button>
      <button type="submit"
              class="mt-4 w-full bg-driveGreen text-white py-2 px-6 rounded-md hover:opacity-80">
        Valider
      </button>
    </div>
  </form>
<!--</div>-->




