<!-- src/app/components/resa-vehicle/resa-vehicle.component.html -->
<div class="grid grid-cols-1 md:grid-cols-3 bg-amber-50 py-2 px-2">
  <div class="md:mx-auto md:my-auto">
    <div class="flex w-full mx-auto justify-center items-center bg-white space-y-8">
      <div class="w-full">
        <form [formGroup]="filterForm" class="bg-white rounded-md shadow-2xl p-5" (ngSubmit)="onFilter()">
          <h2 class="text-gray-800 font-bold text-xl mb-1">Filtrer les véhicules</h2>

          <label for="dateTimeStart" class="control-label">Date et heure début :</label>
          <div class="relative">
            <p-calendar formControlName="startDateTime" id="dateTimeStart" [showTime]="true" hourFormat="24"
                        class="appearance-none pl-4 block w-full bg-grey-lighter text-grey-darker border-2 border-grey-lighter rounded-2xl py-3 px-1 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                        name="dateStart"
                        dateFormat="dd.mm.yy">
              <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">
                  {{ date.day }}
                </span>
              </ng-template>
            </p-calendar>
          </div>

          <label for="dateTimeEnd" class="control-label">Date et heure fin :</label>
          <div class="relative">
            <p-calendar formControlName="endDateTime" id="dateTimeEnd" [showTime]="true" hourFormat="24"
                        class="appearance-none pl-4 block w-full bg-grey-lighter text-grey-darker border-2 border-grey-lighter rounded-2xl py-3 px-1 mb-3 hover:outline-none focus:outline-none focus:ring-indigo-500 focus:ring-1"
                        name="dateEnd"
                        dateFormat="dd.mm.yy">
              <ng-template pTemplate="date" let-date>
                <span [ngStyle]="{textDecoration: (date.day < 21 && date.day > 10) ? 'line-through' : 'inherit'}">
                    {{ date.day }}
                </span>
              </ng-template>
            </p-calendar>
          </div>

          <button type="submit"
                  class="mt-4 w-full bg-driveGreen text-white py-2 px-6 rounded-md hover:bg-emerald-500">
            Filtrer
          </button>

        </form>
      </div>
    </div>
  </div>
  <div *ngIf="showCarousel" class="col-span-2 md:mx-auto md:my-auto">
    <div class="w-full h-full px-2">
      <p-carousel
        [value]="filteredVehicles"
        [numVisible]="2"
        [numScroll]="2"
        [circular]="false">
        <ng-template let-vehicle pTemplate="item">
          <div class="border-1 surface-border border-round p-1 text-sm">
            <div class="mb-3">
              <div class="grid grid-cols-2 gap-0.5">
                <div class="relative mx-auto">
                  <img
                    src="vehicle.url"
                    [alt]="vehicle.model.brand.name + ' ' + vehicle.model.name"
                    class="w-full border-round"/>
                </div>

                <div class=" mx-auto my-auto">
                  <p>Marque : {{ vehicle.model.brand.name }}</p>
                  <p>Modèle : {{ vehicle.model.name }}</p>
                  <p>{{ vehicle.registration }}</p>
                  <p>Places :{{ vehicle.numberOfSeats }} </p>

                  <button
                    class="mt-2 text-white py-2 px-6 rounded-md hover:bg-emerald-500 text-center bg-emerald-500 font-semibold"
                    (click)="reserveVehicle(vehicle)">
                    Réserver
                  </button>

                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <ngx-sonner-toaster richColors  />
  </div>
</div>
