<!--<tr>-->
<!--  <td>{{resaVehicle.vehicle.model.brand.name}}</td>-->
<!--  <td>{{resaVehicle.vehicle.model.name}}</td>-->
<!--  <td>{{resaVehicle.vehicle.registration}}</td>-->
<!--  <td>{{ resaVehicle.dateTimeStart | date:'short' }}</td>-->
<!--  <td>{{ resaVehicle.dateTimeEnd | date:'short' }}</td>-->
<!--  <td>Actions</td>-->
<!--&lt;!&ndash;  <td><p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" /></td>&ndash;&gt;-->
<!--&lt;!&ndash;  <td><p-tag [value]="product.inventoryStatus" /></td>&ndash;&gt;-->
<!--</tr>-->
