<!--<div class="w-screen">-->
<!--<div class="flex flex-wrap w-full py-10 px-2 space-x-6 justify-around">-->
<!--  &lt;!&ndash;    <div class="flex w-full mx-auto items-center bg-white space-y-8">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="">&ndash;&gt;-->
<!--&lt;!&ndash;    <app-historical-filter (filterChanged)="onFilterChanged($event)"></app-historical-filter>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--  <div class="xl:w-3/4 md:w-full" >-->
<!--    <app-vehicle-reservation-history  [statusChoice]="statusFilter" ></app-vehicle-reservation-history>-->
<!--  </div>-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->



